
/* EDICION DEL INDEX*/
body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}


#menu li > a {
  font-size: 18px;
  font-weight: bold;
  color: #3f3f3f;
}

#menu form > button{
  font-size: 18px;
  font-weight: bold;
}

#local{
  background: #f3f3f3;
  padding-bottom: 0px;
  display: flex;
  justify-content: center;
}

#numeros-local div{
  padding: 0 20px 0 0;
  height: 48px;
}

#numeros-local div:not(:last-child){
  border-right: 2px solid #3f3f3f;
}

#numeros-local div:not(:first-child){
  padding-left: 20px;
}

#numeros-local p{
  margin: 0;
}

#bg-final{
  position: relative;
  top: -50px;
  margin-top: 50px;
}

#seccion-final{
  background-color: #273036;
  min-height: 100px;
  position: relative;
}

.wrapper{
  width: 50%;
  margin-left: 100px;
  padding-top: 150px;
}


.carousel-inner{
  max-height: 50rem;
}

.mapa{
  background: url(../recursos/maps.png);
  width: 100%;
  width: 1800px;
  height: 700px;
}

/* IMAGENES DE CONTACTO*/

.image-contacto{
  margin: 50px;
  width: 1000px;
  height: 50px;
}

/* EDICION DE LA TABLA DONDE ESTAN LOS IDES */
.image-ides{
  margin-right: 20px;
  margin-bottom: 20px;
  width: 950px;
  height: 800px;
  vertical-align: middle;
  float: left;
}

.parrafo-ides{
  margin: 150px;
  vertical-align: middle;
  width: 1000px;
  
}

.margin-table{
  margin: 10px;
}


/*
EDICION DE LA TABLA DE APLICACIONES GRATUITAS
*/

.image-aplicacionesG{
  margin-right: 20px;
  margin-bottom: 20px;
  width: 1000px;
  height: 500px;
  vertical-align: middle;
  float: left;
}

/*
EDICION DE LA TABLA DE JUEGOS DE ACCION
*/

.image-accion{
  margin-right: 20px;
  margin-bottom: 20px;
  width: 1000px;
  height: 500px;
  vertical-align: middle;
  float: left;
}

/*
EDICION DE TITULOS
*/

.titulos{
  margin: 20px;
}

/*
EDICION DE BOTONES DE LA PAGINA
*/

.btn-margin{
  margin: 50px;
}


/*
MEDIAS QUERIES PANTALLA
*/



@media(max-width:768px){
  #intro{
    width: 90% !important;
  }
}

@media(max-width:1200px){
  #local{
    flex-wrap: wrap;
    padding-top: 30px;
  }

  .wrapper{
    width: 90%;
    margin: auto;
    padding-top: 50px;
  }
}
